<h1><%= @employee.full_name %></h1><br><br>

<p><%= @employee.alias %></p><br>

<p><%= @employee.title %></p><br>

<p><%= @employee.office %></p><br>

<p><%= @employee.dog.name %></p><br>

<p><img height=300 src="<%= @employee.img_url%>"></p><br>